<% provide(:title, "Feed") %>

<% if logged_in? %>
    <div class="col-1">
              <h1>My Profile</h2>
              <hr>
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
    </div>

    <div class="col-2">
      <h1>Post Feed</h2>
      <hr>
      <%= render 'shared/feed' %>
    </div>

<% else %>

    <h1>Welcome to your personal feed.</h1>

    <h2>
      To curate a custom feed from people you follow, sign up first.
    </h2>

    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>

<% end %>
