<footer class="footer">
  <small>
    <%= link_to "Facts and Perspectives", welcome_path %>
    by <a href="https://www.facebook.com/factsandperspectives/" target="_blank">Facetive</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>
