  <div class="wrapper wrapper_padding clearfix">
<footer class="main_footer">

    <p class="copyright"><%= link_to "Facts and Perspectives", welcome_path %>
    by <a href="https://www.facebook.com/factsandperspectives/" target="_blank">&copy; Facetive 2016</a></p>
    <nav>
      <%= link_to "<i class='fa fa-facebook'></i>".html_safe, "https://www.facebook.com/factsandperspectives/", target: "blank" %>
        <%= link_to "<i class='fa fa-twitter'></i>".html_safe, "https://twitter.com/?lang=en", target: "blank" %>
          <%= link_to "<i class='fa fa-github'></i>".html_safe, "https://github.com/ksun0/facetive", target: "blank" %>
    </nav>
</footer>
<div>
